font-face {
    font-family: 'Iran Sans';
    src: local('Iran Sans'), url(../font/IRANSans.ttf) format('ttf');
  }
  
  html {
    height: 100vh;
    min-height: 100vh !important;
  }
  
  * {
    font-family: 'Iran Sans'!important;
    font-size: 14px;
  }
  
  body, #root {
    font-family: 'Iran Sans'!important;
    min-height: 100vh;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }